**DEVP: Project - 01**
*   Program: PGDM-BDA-05
*   Faculty: Prof Amarnath Mitra
*   Submitted By: Vibhavari Saran(055055), Dimple(055009)
*   Subject: Data Exploration & Visualization using Python (DEVP)

In [1326]:
# Import Relevant Python Libraries.
import pandas as pd
import numpy as np
import scipy.stats as stats
from scipy import stats
from scipy.stats import skew
from scipy.stats import kurtosis
from scipy.stats import chi2_contingency

In [1327]:
# A1. Load the Test Data.
file_path = ( r"C:\Users\DELL\Downloads\archive (1)\Imports_Exports_Dataset.csv")
df = pd.read_csv(file_path)
df = pd.DataFrame(df)
df

,Transaction_ID,Country,Product,Import_Export,Quantity,Value,Date,Category,Port,Customs_Code,Weight,Shipping_Method,Supplier,Customer,Invoice_Number,Payment_Terms
0,e3e70682-c209-4cac-a29f-6fbed82c07cd,Colombia,describe,Export,1979,9506.57,07-12-2023,Machinery,Robertbury,620537,4248.65,Air,"Garrison, Hubbard and Hendricks",Seth Hall,21000294,Cash on Delivery
1,f728b4fa-4248-4e3a-8a5d-2f346baa9455,Chile,president,Export,5763,7100.91,04-04-2023,Clothing,Shahport,927600,4340.81,Air,Webb-Mack,Kimberly Ryan,88738432,Prepaid
2,eb1167b3-67a9-4378-bc65-c1e582e2e662,Turkey,far,Import,5740,2450.34,21-08-2024,Electronics,South Joshuatown,299258,4538.41,Air,"Mendez, Jones and Johnson",Ryan Silva,89922099,Prepaid
3,f7c1bd87-4da5-4709-9471-3d60c8a70639,Christmas Island,agency,Export,2592,7226.42,09-05-2022,Furniture,Adamfort,996084,4886.14,Air,Schroeder-Smith,Jacob Gray,63216265,Net 60
4,e443df78-9558-467f-9ba9-1faf7a024204,Finland,policy,Export,2622,2817.29,03-04-2023,Electronics,Juliebury,555981,4406.74,Air,Zimmerman LLC,Amy Stephens,94600248,Cash on Delivery
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14995,48df15a8-0823-4964-8c16-eddf2756f382,Marshall Islands,not,Export,2860,2055.19,09-07-2024,Furniture,South Karenfort,393463,4120.35,Land,Smith-Lewis,Darlene Davis,29605073,Net 60
14996,31106617-94a6-4646-a001-5e7bd45abc26,Bermuda,air,Export,2443,6407.06,18-06-2024,Furniture,Jeffreyside,484143,1832.71,Air,Jones Group,John Ramos,39044695,Cash on Delivery
14997,ee485839-fbde-4ced-af18-d98f5e863081,Tanzania,show,Export,1702,9918.29,30-04-2020,Toys,North Meganborough,354935,4203.52,Land,Barnes-Romero,Rebecca Phelps,78492040,Net 30
14998,5acd54aa-ec8c-4055-be8b-a447861a471c,Tuvalu,TV,Export,8108,9288.57,29-04-2021,Clothing,Villafurt,234296,1597.72,Land,"Smith, Allison and Bennett",Scott Yates,20799602,Cash on Delivery
14999,5cc039d0-a052-41fd-bfbb-c9f60c4565ac,North Macedonia,year,Import,5635,561.33,25-12-2019,Clothing,West Gary,766709,2913.82,Air,Fleming-Miles,Steven Young,79237293,Net 30

In [1328]:
# A2. Display the Dimensions of Test Data.
df.shape

(15000, 16)

In [1329]:
# A3. Display Data Information.
df.info

<bound method DataFrame.info of                              Transaction_ID           Country    Product  \
0      e3e70682-c209-4cac-a29f-6fbed82c07cd          Colombia   describe
1      f728b4fa-4248-4e3a-8a5d-2f346baa9455             Chile  president
2      eb1167b3-67a9-4378-bc65-c1e582e2e662            Turkey        far
3      f7c1bd87-4da5-4709-9471-3d60c8a70639  Christmas Island     agency
4      e443df78-9558-467f-9ba9-1faf7a024204           Finland     policy
...                                     ...               ...        ...
14995  48df15a8-0823-4964-8c16-eddf2756f382  Marshall Islands        not
14996  31106617-94a6-4646-a001-5e7bd45abc26           Bermuda        air
14997  ee485839-fbde-4ced-af18-d98f5e863081          Tanzania       show
14998  5acd54aa-ec8c-4055-be8b-a447861a471c            Tuvalu         TV
14999  5cc039d0-a052-41fd-bfbb-c9f60c4565ac   North Macedonia       year

      Import_Export  Quantity    Value        Date     Category  \
0            Export      1979  9506.57  07-12-2023    Machinery
1            Export      5763  7100.91  04-04-2023     Clothing
2            Import      5740  2450.34  21-08-2024  Electronics
3            Export      2592  7226.42  09-05-2022    Furniture
4            Export      2622  2817.29  03-04-2023  Electronics
...             ...       ...      ...         ...          ...
14995        Export      2860  2055.19  09-07-2024    Furniture
14996        Export      2443  6407.06  18-06-2024    Furniture
14997        Export      1702  9918.29  30-04-2020         Toys
14998        Export      8108  9288.57  29-04-2021     Clothing
14999        Import      5635   561.33  25-12-2019     Clothing

                     Port  Customs_Code   Weight Shipping_Method  \
0              Robertbury        620537  4248.65             Air
1                Shahport        927600  4340.81             Air
2        South Joshuatown        299258  4538.41             Air
3                Adamfort        996084  4886.14             Air
4               Juliebury        555981  4406.74             Air
...                   ...           ...      ...             ...
14995     South Karenfort        393463  4120.35            Land
14996         Jeffreyside        484143  1832.71             Air
14997  North Meganborough        354935  4203.52            Land
14998           Villafurt        234296  1597.72            Land
14999           West Gary        766709  2913.82             Air

                              Supplier        Customer  Invoice_Number  \
0      Garrison, Hubbard and Hendricks       Seth Hall        21000294
1                            Webb-Mack   Kimberly Ryan        88738432
2            Mendez, Jones and Johnson      Ryan Silva        89922099
3                      Schroeder-Smith      Jacob Gray        63216265
4                        Zimmerman LLC    Amy Stephens        94600248
...                                ...             ...             ...
14995                      Smith-Lewis   Darlene Davis        29605073
14996                      Jones Group      John Ramos        39044695
14997                    Barnes-Romero  Rebecca Phelps        78492040
14998       Smith, Allison and Bennett     Scott Yates        20799602
14999                    Fleming-Miles    Steven Young        79237293

          Payment_Terms
0      Cash on Delivery
1               Prepaid
2               Prepaid
3                Net 60
4      Cash on Delivery
...                 ...
14995            Net 60
14996  Cash on Delivery
14997            Net 30
14998  Cash on Delivery
14999            Net 30

[15000 rows x 16 columns]>

In [1330]:
# A4. Create an Unique Sample of 2001 Records using Student Roll Number as Random State.
my_sample= df.sample(n=2001, random_state=5509)
my_sample

,Transaction_ID,Country,Product,Import_Export,Quantity,Value,Date,Category,Port,Customs_Code,Weight,Shipping_Method,Supplier,Customer,Invoice_Number,Payment_Terms
8190,b2e0a53c-4169-4ee2-b93a-3af02ce2c544,Peru,rock,Export,4074,593.78,14-10-2023,Electronics,Sheenamouth,949374,4022.42,Sea,Chase Inc,Samuel Miller,4878186,Net 30
7842,c0e23cb5-7d12-46c9-9d87-028e18075194,Armenia,real,Export,4486,2423.99,29-03-2022,Clothing,Laraborough,178557,844.48,Air,Yang-Young,Diane Black,55424862,Net 30
3424,affce8e9-62de-4fdb-bd32-8aa57b825faf,Hong Kong,get,Import,2540,1700.01,19-03-2022,Clothing,Gilesstad,274568,1661.91,Air,"Green, Young and Wilkerson",Stephanie Vega,71911706,Cash on Delivery
800,f5652d00-67a4-4b26-8d6e-44f20189a5d9,Cyprus,clear,Import,1538,4927.95,23-07-2023,Furniture,Crystalport,953921,2251.51,Sea,Smith-Fisher,Nancy Rivera,80286476,Prepaid
4373,aef31182-bc42-440c-b81a-840c91368e6b,Equatorial Guinea,carry,Export,3243,7798.47,10-09-2021,Electronics,Paulfurt,655413,2556.14,Sea,"White, Weiss and Simpson",Chris Morgan,68917212,Net 30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9189,fe784b3d-0be8-4882-8e2a-28e18100f337,China,article,Export,6177,9990.37,31-03-2021,Clothing,New Sharonville,583721,2479.30,Sea,"Bush, Peters and Castro",Eric Kennedy,85087591,Prepaid
13996,61751c41-5af0-416d-b3cf-a709810a14dc,Korea,free,Import,3604,4203.29,22-07-2021,Electronics,South Adrian,409434,3067.16,Air,James-Maynard,John Hernandez,8231875,Cash on Delivery
11333,28341d5f-8ef7-456d-b957-f35cc8205c0e,Svalbard & Jan Mayen Islands,air,Export,8609,347.46,07-06-2024,Clothing,Tonyaberg,527074,1241.66,Sea,"Davis, Wilson and Mcdonald",Alexis Hudson,76048689,Net 30
5110,3803fff3-8f9b-4bda-8a62-4be8c7e2d825,Liechtenstein,probably,Export,7583,6202.65,21-06-2020,Furniture,Port Jennifer,612624,1041.66,Sea,Mueller-Johnson,Linda Anderson,74218897,Prepaid
3112,966d66ed-741b-4eed-a9b9-5826d33f87bb,Christmas Island,few,Import,8203,5675.84,25-11-2023,Electronics,Ashleyton,387754,3789.44,Land,Pruitt Ltd,Alexis Kennedy,65637952,Net 30

In [1331]:
# A5. Display the Dimensions of Sample Data.
my_sample.shape

(2001, 16)

In [1332]:
# A6. Display Sample Data Information.
my_sample.info

<bound method DataFrame.info of                              Transaction_ID                       Country  \
8190   b2e0a53c-4169-4ee2-b93a-3af02ce2c544                          Peru
7842   c0e23cb5-7d12-46c9-9d87-028e18075194                       Armenia
3424   affce8e9-62de-4fdb-bd32-8aa57b825faf                     Hong Kong
800    f5652d00-67a4-4b26-8d6e-44f20189a5d9                        Cyprus
4373   aef31182-bc42-440c-b81a-840c91368e6b             Equatorial Guinea
...                                     ...                           ...
9189   fe784b3d-0be8-4882-8e2a-28e18100f337                         China
13996  61751c41-5af0-416d-b3cf-a709810a14dc                         Korea
11333  28341d5f-8ef7-456d-b957-f35cc8205c0e  Svalbard & Jan Mayen Islands
5110   3803fff3-8f9b-4bda-8a62-4be8c7e2d825                 Liechtenstein
3112   966d66ed-741b-4eed-a9b9-5826d33f87bb              Christmas Island

        Product Import_Export  Quantity    Value        Date     Category  \
8190       rock        Export      4074   593.78  14-10-2023  Electronics
7842       real        Export      4486  2423.99  29-03-2022     Clothing
3424        get        Import      2540  1700.01  19-03-2022     Clothing
800       clear        Import      1538  4927.95  23-07-2023    Furniture
4373      carry        Export      3243  7798.47  10-09-2021  Electronics
...         ...           ...       ...      ...         ...          ...
9189    article        Export      6177  9990.37  31-03-2021     Clothing
13996      free        Import      3604  4203.29  22-07-2021  Electronics
11333       air        Export      8609   347.46  07-06-2024     Clothing
5110   probably        Export      7583  6202.65  21-06-2020    Furniture
3112        few        Import      8203  5675.84  25-11-2023  Electronics

                  Port  Customs_Code   Weight Shipping_Method  \
8190       Sheenamouth        949374  4022.42             Sea
7842       Laraborough        178557   844.48             Air
3424         Gilesstad        274568  1661.91             Air
800        Crystalport        953921  2251.51             Sea
4373          Paulfurt        655413  2556.14             Sea
...                ...           ...      ...             ...
9189   New Sharonville        583721  2479.30             Sea
13996     South Adrian        409434  3067.16             Air
11333        Tonyaberg        527074  1241.66             Sea
5110     Port Jennifer        612624  1041.66             Sea
3112         Ashleyton        387754  3789.44            Land

                         Supplier        Customer  Invoice_Number  \
8190                    Chase Inc   Samuel Miller         4878186
7842                   Yang-Young     Diane Black        55424862
3424   Green, Young and Wilkerson  Stephanie Vega        71911706
800                  Smith-Fisher    Nancy Rivera        80286476
4373     White, Weiss and Simpson    Chris Morgan        68917212
...                           ...             ...             ...
9189      Bush, Peters and Castro    Eric Kennedy        85087591
13996               James-Maynard  John Hernandez         8231875
11333  Davis, Wilson and Mcdonald   Alexis Hudson        76048689
5110              Mueller-Johnson  Linda Anderson        74218897
3112                   Pruitt Ltd  Alexis Kennedy        65637952

          Payment_Terms
8190             Net 30
7842             Net 30
3424   Cash on Delivery
800             Prepaid
4373             Net 30
...                 ...
9189            Prepaid
13996  Cash on Delivery
11333            Net 30
5110            Prepaid
3112             Net 30

[2001 rows x 16 columns]>

In [1333]:
# A7. Display the First 03 Records of the Sample Data.
my_sample.head(3)

,Transaction_ID,Country,Product,Import_Export,Quantity,Value,Date,Category,Port,Customs_Code,Weight,Shipping_Method,Supplier,Customer,Invoice_Number,Payment_Terms
8190,b2e0a53c-4169-4ee2-b93a-3af02ce2c544,Peru,rock,Export,4074,593.78,14-10-2023,Electronics,Sheenamouth,949374,4022.42,Sea,Chase Inc,Samuel Miller,4878186,Net 30
7842,c0e23cb5-7d12-46c9-9d87-028e18075194,Armenia,real,Export,4486,2423.99,29-03-2022,Clothing,Laraborough,178557,844.48,Air,Yang-Young,Diane Black,55424862,Net 30
3424,affce8e9-62de-4fdb-bd32-8aa57b825faf,Hong Kong,get,Import,2540,1700.01,19-03-2022,Clothing,Gilesstad,274568,1661.91,Air,"Green, Young and Wilkerson",Stephanie Vega,71911706,Cash on Delivery

In [1334]:
# B1. Display the List of Names of the Variables.
list(my_sample.columns)

['Transaction_ID',
 'Country',
 'Product',
 'Import_Export',
 'Quantity',
 'Value',
 'Date',
 'Category',
 'Port',
 'Customs_Code',
 'Weight',
 'Shipping_Method',
 'Supplier',
 'Customer',
 'Invoice_Number',
 'Payment_Terms']

In [1335]:
# B2. Identify & Display the List of following Variables:
# 1. Index Variables:- Transaction_ID
# 2. Categorical Variables - Nominal Type:- Country, Product, Import_Export, Category, Port, Customs_Code, Shipping_Method, Supplier, Customer, Invoice_Number , Payment_Terms
# 3. Categorical Variables - Ordinal Type:- None
# 4. Non-Categorical Variables:- Quantity, Value, Weight, Date

In [1336]:
# B3. Subset and Display the Non-Categorical Variables.
non_cat_df=my_sample[['Quantity', 'Value', 'Weight', 'Date']]
non_cat_df

       Quantity    Value   Weight        Date
8190       4074   593.78  4022.42  14-10-2023
7842       4486  2423.99   844.48  29-03-2022
3424       2540  1700.01  1661.91  19-03-2022
800        1538  4927.95  2251.51  23-07-2023
4373       3243  7798.47  2556.14  10-09-2021
...         ...      ...      ...         ...
9189       6177  9990.37  2479.30  31-03-2021
13996      3604  4203.29  3067.16  22-07-2021
11333      8609   347.46  1241.66  07-06-2024
5110       7583  6202.65  1041.66  21-06-2020
3112       8203  5675.84  3789.44  25-11-2023

[2001 rows x 4 columns]

In [1337]:
# B4. Display the Descriptive Statistics of the Non-Categorical Subset.
non_cat_df.describe()

          Quantity        Value       Weight
count  2001.000000  2001.000000  2001.000000
mean   5118.019490  5148.601524  2508.192004
std    2838.393847  2856.427218  1449.064150
min       3.000000   106.150000     2.800000
25%    2634.000000  2751.060000  1228.610000
50%    5117.000000  5144.140000  2546.310000
75%    7638.000000  7682.480000  3757.400000
max    9989.000000  9995.060000  4996.290000

In [1338]:
# B5. Subset and Display the Categorical Variables.
cat_subset=my_sample[['Country', 'Product', 'Import_Export', 'Category', 'Port', 'Customs_Code', 'Shipping_Method', 'Supplier', 'Customer', 'Invoice_Number' , 'Payment_Terms']]
cat_subset

,Country,Product,Import_Export,Category,Port,Customs_Code,Shipping_Method,Supplier,Customer,Invoice_Number,Payment_Terms
8190,Peru,rock,Export,Electronics,Sheenamouth,949374,Sea,Chase Inc,Samuel Miller,4878186,Net 30
7842,Armenia,real,Export,Clothing,Laraborough,178557,Air,Yang-Young,Diane Black,55424862,Net 30
3424,Hong Kong,get,Import,Clothing,Gilesstad,274568,Air,"Green, Young and Wilkerson",Stephanie Vega,71911706,Cash on Delivery
800,Cyprus,clear,Import,Furniture,Crystalport,953921,Sea,Smith-Fisher,Nancy Rivera,80286476,Prepaid
4373,Equatorial Guinea,carry,Export,Electronics,Paulfurt,655413,Sea,"White, Weiss and Simpson",Chris Morgan,68917212,Net 30
...,...,...,...,...,...,...,...,...,...,...,...
9189,China,article,Export,Clothing,New Sharonville,583721,Sea,"Bush, Peters and Castro",Eric Kennedy,85087591,Prepaid
13996,Korea,free,Import,Electronics,South Adrian,409434,Air,James-Maynard,John Hernandez,8231875,Cash on Delivery
11333,Svalbard & Jan Mayen Islands,air,Export,Clothing,Tonyaberg,527074,Sea,"Davis, Wilson and Mcdonald",Alexis Hudson,76048689,Net 30
5110,Liechtenstein,probably,Export,Furniture,Port Jennifer,612624,Sea,Mueller-Johnson,Linda Anderson,74218897,Prepaid
3112,Christmas Island,few,Import,Electronics,Ashleyton,387754,Land,Pruitt Ltd,Alexis Kennedy,65637952,Net 30

In [1339]:
# B6. Display the Descriptive Statistics of Country [Categorical Variables].
country_stats = my_sample['Country'].value_counts()
print("Country count:\n", country_stats)

Country count:
 Country
Suriname                     17
Syrian Arab Republic         16
Sweden                       16
Pakistan                     16
Dominican Republic           15
                             ..
San Marino                    3
Faroe Islands                 3
Saint Pierre and Miquelon     3
Tuvalu                        2
Samoa                         2
Name: count, Length: 243, dtype: int64

In [1340]:
# B7. Display the Descriptive Statistics of Import Export [Categorical Variables].
import_export_stats = my_sample['Import_Export'].value_counts()
print("Import_Export Statistics:\n", import_export_stats)

Import_Export Statistics:
 Import_Export
Import    1016
Export     985
Name: count, dtype: int64

In [1341]:
# B8. Display the Descriptive Statistics of Product [Categorical Variables].
product_stats = my_sample['Product'].value_counts()
print("Product Statistics:\n", product_stats)

Product Statistics:
 Product
probably     7
data         7
police       7
drop         7
with         7
            ..
evening      1
five         1
be           1
different    1
free         1
Name: count, Length: 859, dtype: int64

In [1342]:
# C1. Display What is the total quantity of imports and exports
total_quantity = my_sample.groupby('Import_Export')['Quantity'].sum()
total_quantity

Import_Export
Export    5111122
Import    5130035
Name: Quantity, dtype: int64

In [1343]:
# C2. Disply what are the top three products by quantity sold?
top_products = my_sample.groupby('Product')['Quantity'].sum().nlargest(3)
print("Top Three Products by Quantity Sold:\n",top_products)

Top Three Products by Quantity Sold:
 Product
fact        42638
probably    40509
resource    39573
Name: Quantity, dtype: int64

In [1344]:
# C3. Display What is the total value of imports and exports
total_value = my_sample.groupby('Import_Export')['Value'].sum()
total_value

Import_Export
Export    4973766.62
Import    5328585.03
Name: Value, dtype: float64

In [1345]:
# C4. Display Which country has the highest number of transactions (import/export)?
transactions_per_country = my_sample['Country'].value_counts().idxmax()
print("Country with higest number of transactions:",transactions_per_country)

Country with higest number of transactions: Suriname

In [1346]:
# C5. Display What is the most commonly exported product
most_exported_product = my_sample[my_sample['Import_Export'] == 'Export']['Product'].value_counts().idxmax()
print("Most commonly exported product:",most_exported_product)

Most commonly exported product: guess

In [1347]:
# C6. Display What is the average value of an import/export transaction per country
avg_value_per_country = my_sample.groupby('Country')['Value'].mean()
avg_value_per_country

Country
Afghanistan          4773.588000
Albania              6258.166667
Algeria              4284.110000
American Samoa       5233.676667
Andorra              5398.887500
                        ...
Wallis and Futuna    4984.548333
Western Sahara       4304.207143
Yemen                5882.890909
Zambia               4826.892000
Zimbabwe             4798.302000
Name: Value, Length: 243, dtype: float64

In [1348]:
# C7. Display Which shipping method is used most frequently
most_used_shipping_method = my_sample['Shipping_Method'].value_counts().idxmax()
print("Most frequently used shipping method:",most_used_shipping_method)

Most frequently used shipping method: Land

In [1349]:
# C8. Display What is the average weight of products shipped via different shipping methods
avg_weight_per_shipping_method = my_sample.groupby('Shipping_Method')['Weight'].mean()
avg_weight_per_shipping_method

Shipping_Method
Air     2582.406188
Land    2495.461832
Sea     2449.800784
Name: Weight, dtype: float64

In [1350]:
# C9. Display How many transactions have been made for each product category
transactions_per_category = my_sample['Category'].value_counts()
transactions_per_category

Category
Machinery      421
Electronics    399
Toys           398
Furniture      397
Clothing       386
Name: count, dtype: int64

In [1351]:
# C10. Display What is the most frequent payment term used?
most_frequent_payment_term = my_sample['Payment_Terms'].value_counts().idxmax()
print("Most frequently used payment term:",most_frequent_payment_term)

Most frequently used payment term: Prepaid

In [1352]:
# C11. Display Which supplier has conducted the highest number of transactions?
top_supplier = my_sample['Supplier'].value_counts().idxmax()
print("The supplier who has conducted the higest number of transactions:",top_supplier)

The supplier who has conducted the higest number of transactions: Miller and Sons

In [1353]:
# C12. Display How many transactions were made in each port?
transactions_per_port = my_sample['Port'].value_counts()
transactions_per_port

Port
West David          5
East Michael        4
South Stephanie     4
New Michael         4
New James           4
                   ..
Richardsonton       1
North Loganburgh    1
Kaiserside          1
West Sheryl         1
Ashleyton           1
Name: count, Length: 1851, dtype: int64

In [1354]:
# C13. Display What is the total weight of exported products versus imported products
total_weight_by_import_export = my_sample.groupby('Import_Export')['Weight'].sum()
total_weight_by_import_export

Import_Export
Export    2424865.95
Import    2594026.25
Name: Weight, dtype: float64

In [1355]:
# C14. What is the average quantity per transaction?
average_quantity_per_transaction = my_sample['Quantity'].mean()
print("Average Quantity per Transaction:", average_quantity_per_transaction)

Average Quantity per Transaction: 5118.019490254873

In [1356]:
# C15. DisplayWhat is the average quantity of imports and exports per country?
avg_quantity_per_country = my_sample.groupby('Country')['Quantity'].mean()
avg_quantity_per_country

Country
Afghanistan          3036.000000
Albania              5216.333333
Algeria              5018.571429
American Samoa       5086.555556
Andorra              3882.500000
                        ...
Wallis and Futuna    6087.833333
Western Sahara       5099.000000
Yemen                3474.545455
Zambia               4962.000000
Zimbabwe             5942.400000
Name: Quantity, Length: 243, dtype: float64

In [1357]:
# C16. Display Which customer has the highest value of transactions?
top_customer = my_sample.groupby('Customer')['Value'].sum().idxmax()
print("The customer with the highest value:",top_customer)

The customer with the highest value: Jennifer Smith

In [1358]:
# C17. Display How does the value of transactions vary by product category?
value_by_category = my_sample.groupby('Category')['Value'].sum()
value_by_category

Category
Clothing       1992557.44
Electronics    2158550.01
Furniture      2001266.46
Machinery      2089875.58
Toys           2060102.16
Name: Value, dtype: float64

In [1359]:
# C18. Display Which product category has the highest average weight?
highest_avg_weight_category = my_sample.groupby('Category')['Weight'].mean().idxmax()
print("The product category has the highest average weight:" ,highest_avg_weight_category)

The product category has the highest average weight: Furniture

In [1360]:
# C19. Display What is the most frequent customs code used in transactions?
most_frequent_customs_code = my_sample['Customs_Code'].value_counts().idxmax()
print("The most frequent customs code used in transactions:", most_frequent_customs_code)

The most frequent customs code used in transactions: 871085

In [1361]:
# C20. Display How does the total quantity vary month by month?
my_sample['Date'] = pd.to_datetime(my_sample['Date'], format='%d-%m-%Y')
total_quantity_per_month = df.groupby(my_sample['Date'].dt.to_period('M'))['Quantity'].sum()
print("Total quantity vary month by month:", total_quantity_per_month)

Total quantity vary month by month: Date
2019-09    109411
2019-10    181576
2019-11    102158
2019-12    136068
2020-01    200384
            ...
2024-05    141133
2024-06    161833
2024-07    171542
2024-08    166627
2024-09     27602
Freq: M, Name: Quantity, Length: 61, dtype: int64

In [1362]:
# C20. Display What is the distribution of transaction values across different shipping methods?
value_distribution_by_shipping = my_sample.groupby('Shipping_Method')['Value'].sum()
value_by_payment_terms = my_sample.groupby('Payment_Terms')['Value'].sum()
value_distribution_by_shipping, value_by_payment_terms

(Shipping_Method
 Air     3331722.43
 Land    3577343.79
 Sea     3393285.43
 Name: Value, dtype: float64,
 Payment_Terms
 Cash on Delivery    2570076.86
 Net 30              2439246.66
 Net 60              2618363.55
 Prepaid             2674664.58
 Name: Value, dtype: float64)

In [1363]:
# C22. Display what is the total value of transactions grouped by payment terms
value_by_payment_terms = my_sample.groupby('Payment_Terms')['Value'].sum()
value_by_payment_terms

Payment_Terms
Cash on Delivery    2570076.86
Net 30              2439246.66
Net 60              2618363.55
Prepaid             2674664.58
Name: Value, dtype: float64

In [1364]:
# C23. How many unique Transaction IDs are there, and do any appear more than once?
unique_transaction_ids = my_sample['Transaction_ID'].nunique()
duplicate_transaction_ids = my_sample['Transaction_ID'].duplicated().sum()
print("Unique Transaction IDs:", unique_transaction_ids)
print("Duplicate Transaction IDs:", duplicate_transaction_ids)

Unique Transaction IDs: 2001
Duplicate Transaction IDs: 0

In [1365]:
# C24. How many unique products are listed in the dataset?
unique_products = my_sample['Product'].nunique()
print("Number of Unique Products:", unique_products)

Number of Unique Products: 859

In [1366]:
# C25. Which port is associated with the most transactions?
most_transactions_port = my_sample['Port'].value_counts().idxmax()
print(f"Port with Most Transactions: {most_transactions_port}")

Port with Most Transactions: West David

In [1367]:
# C26. How does the number of transactions vary by port?
transactions_by_port = my_sample['Port'].value_counts()
print("Transactions by Port:\n", transactions_by_port)

Transactions by Port:
 Port
West David          5
East Michael        4
South Stephanie     4
New Michael         4
New James           4
                   ..
Richardsonton       1
North Loganburgh    1
Kaiserside          1
West Sheryl         1
Ashleyton           1
Name: count, Length: 1851, dtype: int64

In [1368]:
# C27. What is the distribution of customs codes across the dataset?
customs_code_distribution = my_sample['Customs_Code'].value_counts()
print("Customs Code Distribution:\n", customs_code_distribution)

Customs Code Distribution:
 Customs_Code
871085    2
406799    2
962651    2
949374    1
323675    1
         ..
200678    1
530837    1
871627    1
798354    1
387754    1
Name: count, Length: 1998, dtype: int64

In [1369]:
# C28. Are there any customs codes that are particularly common?
most_common_customs_code = my_sample['Customs_Code'].value_counts().idxmax()
print(f"Most Common Customs Code: {most_common_customs_code}")

Most Common Customs Code: 871085

In [1370]:
# C29. Is there a correlation between weight and transaction value?
correlation_weight_value = my_sample[['Weight', 'Value']].corr()
print("Correlation between Weight and Transaction Value:\n", correlation_weight_value)

Correlation between Weight and Transaction Value:
           Weight     Value
Weight  1.000000  0.022238
Value   0.022238  1.000000

In [1371]:
# C30. What percentage of transactions use each shipping method?
shipping_method_percentage = my_sample['Shipping_Method'].value_counts(normalize=True) * 100
print("Percentage of Transactions by Shipping Method:\n", shipping_method_percentage)

Percentage of Transactions by Shipping Method:
 Shipping_Method
Land    33.833083
Sea     33.783108
Air     32.383808
Name: proportion, dtype: float64

In [1372]:
# C31. Which shipping method corresponds to the highest average transaction value?
highest_avg_value_shipping_method = my_sample.groupby('Shipping_Method')['Value'].mean().idxmax()
print(f"Shipping Method with Highest Average Transaction Value: {highest_avg_value_shipping_method}")

Shipping Method with Highest Average Transaction Value: Land

In [1373]:
# C32. Is there a difference in transaction value based on payment terms?
avg_value_by_payment_terms = my_sample.groupby('Payment_Terms')['Value'].mean()
print("Average Transaction Value by Payment Terms:\n", avg_value_by_payment_terms)

Average Transaction Value by Payment Terms:
 Payment_Terms
Cash on Delivery    5029.504618
Net 30              5212.065513
Net 60              5154.258957
Prepaid             5203.627588
Name: Value, dtype: float64

In [1374]:
# C33. How many transactions were completed in the last quarter of the year?
last_quarter_transactions = my_sample[(my_sample['Date'].dt.month >= 10) & (my_sample['Date'].dt.month <= 12)]['Transaction_ID'].count()
print(f"Transactions in the Last Quarter: {last_quarter_transactions}")

Transactions in the Last Quarter: 497

In [1375]:
# C34. Are there any patterns in Transaction IDs that suggest batch processing?
transaction_id_pattern = my_sample['Transaction_ID'].value_counts()  # Look for repeating patterns
print("Transaction ID Patterns (Count of Each):\n", transaction_id_pattern.head())

Transaction ID Patterns (Count of Each):
 Transaction_ID
b2e0a53c-4169-4ee2-b93a-3af02ce2c544    1
3dfa0cf9-8420-4be5-bc6c-7566f03d5f43    1
567179ef-4f36-4b31-a442-afbb8d291438    1
232b2901-3c49-4dcd-ab00-d53ba2aa8c4a    1
90ebd333-ef2a-438e-9127-82f1cf855031    1
Name: count, dtype: int64

In [1376]:
# C35. How does the transaction volume from the top three countries compare with the rest?
top_three_countries = my_sample['Country'].value_counts().nlargest(3).index
top_three_volume = my_sample[my_sample['Country'].isin(top_three_countries)]['Transaction_ID'].count()
rest_countries_volume = my_sample[~my_sample['Country'].isin(top_three_countries)]['Transaction_ID'].count()
print(f"Top Three Countries' Transaction Volume: {top_three_volume}, Rest: {rest_countries_volume}")

Top Three Countries' Transaction Volume: 49, Rest: 1952

In [1377]:
# C36. What percentage of total transactions do the top five countries represent?
top_five_countries_percentage = my_sample['Country'].value_counts(normalize=True).nlargest(5) * 100
print("Percentage of Total Transactions by Top Five Countries:\n", top_five_countries_percentage)

Percentage of Total Transactions by Top Five Countries:
 Country
Suriname                0.849575
Syrian Arab Republic    0.799600
Sweden                  0.799600
Pakistan                0.799600
Dominican Republic      0.749625
Name: proportion, dtype: float64

In [1378]:
# C37. Which products have the highest profit margins based on value and quantity?
my_sample['Profit_Margin'] = my_sample['Value'] / my_sample['Quantity']  # Assuming profit margin is value per unit quantity
highest_profit_margin_products = my_sample.groupby('Product')['Profit_Margin'].mean().nlargest(5)
print("Products with Highest Profit Margins:\n", highest_profit_margin_products)

Products with Highest Profit Margins:
 Product
official    693.790732
look        136.650884
size        119.852255
budget       71.852549
they         60.898661
Name: Profit_Margin, dtype: float64

In [1379]:
# C38. What is the ratio of imports to exports, and what does this imply about trade balance?
import_export_ratio = my_sample['Import_Export'].value_counts(normalize=True) * 100
print("Import to Export Ratio:\n", import_export_ratio)

Import to Export Ratio:
 Import_Export
Import    50.774613
Export    49.225387
Name: proportion, dtype: float64

In [1380]:
# C39. How does the total quantity traded vary by month?
monthly_quantity_traded = my_sample.groupby(my_sample['Date'].dt.to_period('M'))['Quantity'].sum()
print("Total Quantity Traded by Month:\n", monthly_quantity_traded)

Total Quantity Traded by Month:
 Date
2019-09    109411
2019-10    181576
2019-11    102158
2019-12    136068
2020-01    200384
            ...
2024-05    141133
2024-06    161833
2024-07    171542
2024-08    166627
2024-09     27602
Freq: M, Name: Quantity, Length: 61, dtype: int64

In [1381]:
# C40. What is the cumulative value of transactions by month, and how does it trend over time?
monthly_cumulative_value = my_sample.groupby(my_sample['Date'].dt.to_period('M'))['Value'].sum().cumsum()
print("Cumulative Value of Transactions by Month:\n", monthly_cumulative_value)

Cumulative Value of Transactions by Month:
 Date
2019-09      104308.56
2019-10      289903.60
2019-11      461575.37
2019-12      570428.26
2020-01      776724.40
              ...
2024-05     9814121.34
2024-06     9969128.89
2024-07    10125285.16
2024-08    10284394.03
2024-09    10302351.65
Freq: M, Name: Value, Length: 61, dtype: float64

In [1382]:
# C41. Are there outliers in transaction values that could indicate anomalies?
q1 = my_sample['Value'].quantile(0.25)
q3 = my_sample['Value'].quantile(0.75)
iqr = q3 - q1
outliers = my_sample[(my_sample['Value'] < (q1 - 1.5 * iqr)) | (my_sample['Value'] > (q3 + 1.5 * iqr))]
print(f"Number of Outliers in Transaction Values: {outliers.shape[0]}")

Number of Outliers in Transaction Values: 0

In [1383]:
# C42. Which transactions have the lowest value? (Bottom 10 transactions by value)
# Get the bottom 10 transactions by value
lowest_value_transactions = df.nsmallest(10, 'Value')
print("Bottom 10 Transactions by Value:\n", lowest_value_transactions)

Bottom 10 Transactions by Value:
                              Transaction_ID                      Country  \
2856   2cd395eb-c290-4413-9cb2-c15cf5232a0c  French Southern Territories
10861  e48acb0e-9590-4c5a-930c-6d437526a7a4                        Korea
14401  b5e89741-b8db-409c-9c14-2fb8ab18d80d                       Jordan
4440   0bde3249-cd06-43c9-9149-fe6377f141cd                        Ghana
1426   42c07c7e-f740-4ba2-8688-4eed2034663b                    Mauritius
11080  7d179e18-3074-4cbb-b038-617ae83274c4                      Namibia
13034  67f15419-e728-48fc-a56a-fed06df10e46                       Gambia
6211   0f0e6955-9775-4eaf-aac4-559668c44e05                     Guernsey
3353   146068ab-e01c-489d-b176-0ea02498d554                     Portugal
4039   b5c7dfc6-4af5-4df3-9148-867a65698eaa           Russian Federation

         Product Import_Export  Quantity   Value        Date   Category  \
2856        idea        Import       224  102.12  12-03-2021   Clothing
10861      green        Import      2278  102.87  12-03-2020   Clothing
14401      three        Export       908  103.03  21-12-2021  Machinery
4440       stand        Export      5062  103.29  05-11-2022  Machinery
1426       worry        Export      7411  104.49  13-04-2021       Toys
11080    certain        Export      8522  106.15  23-02-2020  Machinery
13034  important        Import      4811  106.83  22-11-2020       Toys
6211        soon        Import      9941  106.98  08-02-2022       Toys
3353        mean        Import      2390  108.10  14-04-2022  Furniture
4039       price        Export      2185  109.90  19-02-2021       Toys

                   Port  Customs_Code   Weight Shipping_Method  \
2856        Brendaville        960981  1544.57            Land
10861         Meyerbury        862508  1145.82             Sea
14401        Smithburgh        729381  2683.59            Land
4440       New Loriside        687032  4969.12             Air
1426       Natashamouth        325132  2118.87             Sea
11080  South Alfredfort        912562  4056.88             Sea
13034    Port Tanyaport        766169  2785.53             Sea
6211        Lake Meghan        578744  1784.38             Air
3353         Barnesberg        815837  1187.88            Land
4039         Robertfort        185849  1876.94            Land

                           Supplier             Customer  Invoice_Number  \
2856       Shannon, Tate and Morris           John Blake         8162647
10861                 Walter-Parker      Christopher Lee        98209165
14401      Thomas, Wilson and Boyle     Stephanie Oliver        10667555
4440   Daugherty, Roy and Rodriguez       Gabriel Waters        88721260
1426                  Morris-Nguyen        Sharon Garcia        46841949
11080               Walters-Donovan     Brittany Everett        70371600
13034   Harris, Wheeler and Simmons         Devin Golden        97880233
6211        Orr, Conrad and Collier        Steven Cherry        47109506
3353     Moore, Anderson and Becker        Jason Stewart        58554043
4039     Pena, Robinson and Holland  Mr. Steven Thompson        99966094

          Payment_Terms
2856             Net 30
10861           Prepaid
14401  Cash on Delivery
4440             Net 30
1426             Net 30
11080           Prepaid
13034            Net 60
6211            Prepaid
3353             Net 60
4039            Prepaid

In [1384]:
# C43. Mode of the product categories across all transactions
mode_category = my_sample['Product'].mode()[0]
print(f"Mode of Product Categories: {mode_category}")

Mode of Product Categories: data

In [1385]:
# C44. Percentage of total transactions represented by the top five countries
country_counts = my_sample['Country'].value_counts()
top_5_countries = country_counts.head(5)
top_5_percentage = top_5_countries.sum() / my_sample.shape[0] * 100
print(f"Percentage of Total Transactions by Top 5 Countries: {top_5_percentage:.2f}%")

Percentage of Total Transactions by Top 5 Countries: 4.00%

In [1386]:
# C45. Significant difference in the mean transaction value between two payment terms
payment_terms_group = my_sample.groupby('Payment_Terms')['Value'].mean()
payment_terms_diff = payment_terms_group.diff().dropna()
print("Mean Transaction Value by Payment Terms:")
print(payment_terms_group)
print(f"Difference in Mean Transaction Value: {payment_terms_diff}")

Mean Transaction Value by Payment Terms:
Payment_Terms
Cash on Delivery    5029.504618
Net 30              5212.065513
Net 60              5154.258957
Prepaid             5203.627588
Name: Value, dtype: float64
Difference in Mean Transaction Value: Payment_Terms
Net 30     182.560894
Net 60     -57.806556
Prepaid     49.368631
Name: Value, dtype: float64

In [1387]:
# C46. Total weight of transactions by shipping method
weight_by_shipping = my_sample.groupby('Shipping_Method')['Weight'].sum()
print("Total Weight by Shipping Method:")
print(weight_by_shipping)

Total Weight by Shipping Method:
Shipping_Method
Air     1673399.21
Land    1689427.66
Sea     1656065.33
Name: Weight, dtype: float64

In [1388]:
# C47. Which are the bottom 5 products by quantity sold?
average_transaction_value = my_sample.groupby('Product')['Value'].mean()
top_5_products = average_transaction_value.nlargest(5)
print("Top 5 Products with Highest Average Transaction Value:")
print(top_5_products)

Top 5 Products with Highest Average Transaction Value:
Product
kitchen    9995.06
wrong      9958.66
almost     9948.41
argue      9931.32
job        9892.22
Name: Value, dtype: float64

In [1389]:
# C48. Total transaction value for each country and comparison with the overall total
total_by_country = my_sample.groupby('Country')['Value'].sum()
overall_total = my_sample['Value'].sum()
print("Total Transaction Value by Country:")
print(total_by_country)
print(f"Overall Total Transaction Value: {overall_total}")

Total Transaction Value by Country:
Country
Afghanistan          47735.88
Albania              37549.00
Algeria              29988.77
American Samoa       47103.09
Andorra              43191.10
                       ...
Wallis and Futuna    29907.29
Western Sahara       30129.45
Yemen                64711.80
Zambia               48268.92
Zimbabwe             47983.02
Name: Value, Length: 243, dtype: float64
Overall Total Transaction Value: 10302351.65

In [1390]:
# C49. Last 5 transactions with the smallest weight
smallest_5_weight = my_sample.nsmallest(5, 'Weight')
print("Last 5 Transactions with Smallest Weight:")
print(smallest_5_weight)

Last 5 Transactions with Smallest Weight:
                             Transaction_ID                   Country  \
12982  d8da3efc-db9e-4643-a06d-882d6a5c623e               El Salvador
7391   4886e5e5-f319-48b0-a075-21307fd30718                Martinique
2427   55b3d2a2-c75b-4900-911f-eb6ef979918a  Northern Mariana Islands
12652  fc91a20c-83ad-4b79-b3e1-3612c87437a1                     Samoa
4690   61718776-be66-4032-87f6-1f43057ed87b                     Haiti

            Product Import_Export  Quantity    Value       Date   Category  \
12982           out        Import      9369   686.57 2024-06-14       Toys
7391             by        Export       350  1416.36 2022-11-09  Machinery
2427       discover        Import      9750  3461.57 2021-02-16       Toys
12652         issue        Import      1057  2186.56 2020-07-18  Machinery
4690   particularly        Export      6859  3215.63 2023-11-08  Furniture

                   Port  Customs_Code  Weight Shipping_Method  \
12982   Port Laurieport        688644    2.80             Air
7391     Port Frederick        233870    7.60            Land
2427   North Brendanton        493479    7.76            Land
12652     New Maryshire        242030    9.46             Sea
4690    Lake Brianburgh        208519   14.81            Land

                       Supplier          Customer  Invoice_Number  \
12982              Davis-Hooper    Jonathan Joyce        95378918
7391                 Fisher LLC   Emily Jefferson        64149898
2427   Krause, Harris and Young     Sherri Stuart        75369652
12652            Anderson-Sharp  Catherine Wright        18652694
4690                Norman-King   Stephanie Smith         3258832

      Payment_Terms  Profit_Margin
12982       Prepaid       0.073281
7391         Net 60       4.046743
2427         Net 60       0.355033
12652        Net 60       2.068647
4690        Prepaid       0.468819

In [1391]:
# C50. Top 5 products with the highest average transaction value
average_transaction_value = my_sample.groupby('Product')['Value'].mean()
top_5_products = average_transaction_value.nlargest(5)
print("Top 5 Products with Highest Average Transaction Value:")
print(top_5_products)

Top 5 Products with Highest Average Transaction Value:
Product
kitchen    9995.06
wrong      9958.66
almost     9948.41
argue      9931.32
job        9892.22
Name: Value, dtype: float64

In [1392]:
# D1. What is the mean, median, and mode of transaction values (Value column) for exports and imports?
# Separate exports and imports
exports = my_sample[my_sample['Import_Export'] == 'Export']['Value']
imports = my_sample[my_sample['Import_Export'] == 'Import']['Value']

# Calculate mean, median, and mode for exports
mean_export = exports.mean()
median_export = exports.median()
mode_export = stats.mode(exports)[0]

# Calculate mean, median, and mode for imports
mean_import = imports.mean()
median_import = imports.median()
mode_import = stats.mode(imports)[0]

# Print results
print(f"Exports - Mean: {mean_export:.2f}, Median: {median_export:.2f}, Mode: {mode_export}")
print(f"Imports - Mean: {mean_import:.2f}, Median: {median_import:.2f}, Mode: {mode_import}")

Exports - Mean: 5049.51, Median: 4950.09, Mode: 9534.2
Imports - Mean: 5244.67, Median: 5378.69, Mode: 5529.5

In [1393]:
# Analysis
# The mean and median values for both exports and imports are relatively close, suggesting a somewhat consistent pattern in transaction values with slight skewness.
# The mode for exports is substantially higher than the central tendency measures (mean and median), implying occasional higher export transactions, while imports show more stability with the mode close to its central tendencies.

In [1394]:
# D2. What is the maximum and minimum quantity of products imported and exported?          
# Separate imports and exports
imports = my_sample[my_sample['Import_Export'] == 'Import']
exports = my_sample[my_sample['Import_Export'] == 'Export']

# Calculate maximum and minimum quantities for imports and exports
max_import_quantity = imports['Quantity'].max()
min_import_quantity = imports['Quantity'].min()
max_export_quantity = exports['Quantity'].max()
min_export_quantity = exports['Quantity'].min()

# Print results
print(f"Maximum Import Quantity: {max_import_quantity}")
print(f"Minimum Import Quantity: {min_import_quantity}")
print(f"Maximum Export Quantity: {max_export_quantity}")
print(f"Minimum Export Quantity: {min_export_quantity}")

Maximum Import Quantity: 9987
Minimum Import Quantity: 3
Maximum Export Quantity: 9989
Minimum Export Quantity: 19

In [1395]:
# Analysis
# Maximum Quantities: The maximum quantities for imports and exports are nearly identical, indicating that both sides of trade can involve transactions of substantial size.
# Minimum Quantities: The minimum quantity for imports is much smaller (3 units) than that for exports (19 units). This could suggest that imports are more varied, accommodating both very small and very large transactions, whereas exports tend to have a higher floor in terms of transaction size.

In [1396]:
# D3. What is the 25th, 50th, and 75th percentile of product weights in imports and exports?
# Separate imports and exports
imports = my_sample[my_sample['Import_Export'] == 'Import']['Weight']
exports = my_sample[my_sample['Import_Export'] == 'Export']['Weight']

# Calculate percentiles for imports
percentiles_imports = {
    '25th Percentile': imports.quantile(0.25),
    '50th Percentile (Median)': imports.quantile(0.50),
    '75th Percentile': imports.quantile(0.75)
}

# Calculate percentiles for exports
percentiles_exports = {
    '25th Percentile': exports.quantile(0.25),
    '50th Percentile (Median)': exports.quantile(0.50),
    '75th Percentile': exports.quantile(0.75)
}

# Print results
print("Percentiles for Imports:\n", percentiles_imports)
print("\nPercentiles for Exports:\n", percentiles_exports)

Percentiles for Imports:
 {'25th Percentile': 1230.13, '50th Percentile (Median)': 2621.48, '75th Percentile': 3842.625}

Percentiles for Exports:
 {'25th Percentile': 1222.57, '50th Percentile (Median)': 2488.28, '75th Percentile': 3628.61}

In [1397]:
# Analysis
# Both imports and exports have similar distributions at the lower end (25th percentile), meaning small-to-moderate transactions are quite common for both.
# Imports tend to have slightly higher median and 75th percentile values compared to exports, indicating that imports might involve larger quantities overall.
# The data suggests that the trade flow is more varied for imports, with a slightly larger spread between the lower and upper transaction sizes. Exports tend to have a more concentrated distribution, with fewer extremely small or extremely large transactions.

In [1398]:
# D4. What is the mode of the product categories across all transactions?     
# Calculate the mode of the product categories
mode_product_category = my_sample['Category'].mode()
print("Mode of Product Categories:\n", mode_product_category)

Mode of Product Categories:
 0    Machinery
Name: Category, dtype: object

In [1399]:
# Analysis
# The prominence of Machinery as the mode indicates that machinery-related transactions are the most common in both imports and exports.
# The dominance of the machinery category suggests that it plays a critical role in the overall trade patterns, potentially contributing significantly to the volume of both imports and exports.

In [1400]:
# D5. What is the range and standard deviation of the quantity of goods exported versus imported?
# Separate imports and exports
imports = my_sample[my_sample['Import_Export'] == 'Import']['Quantity']
exports = my_sample[my_sample['Import_Export'] == 'Export']['Quantity']

# Calculate range and standard deviation for imports
range_imports = imports.max() - imports.min()
std_dev_imports = imports.std()

# Calculate range and standard deviation for exports
range_exports = exports.max() - exports.min()
std_dev_exports = exports.std()

# Print results
print(f"Imports - Range: {range_imports}, Standard Deviation: {std_dev_imports:.2f}")
print(f"Exports - Range: {range_exports}, Standard Deviation: {std_dev_exports:.2f}")

Imports - Range: 9984, Standard Deviation: 2826.03
Exports - Range: 9970, Standard Deviation: 2850.79

In [1401]:
# Analysis
# Both imports and exports exhibit very large ranges and high standard deviations, indicating significant variability in the quantities of goods being traded.
# Although the range for imports is marginally larger, exports have a slightly higher standard deviation, suggesting that export transactions might fluctuate more widely around their mean compared to imports.

In [1402]:
# D6. What is the skewness and kurtosis of transaction values for exports?
# Separate exports
exports = my_sample[my_sample['Import_Export'] == 'Export']['Value']

# Calculate skewness and kurtosis
skewness = skew(exports)
kurtosis_value = kurtosis(exports)

# Print results
print(f"Skewness of Export Transaction Values: {skewness:.4f}")
print(f"Kurtosis of Export Transaction Values: {kurtosis_value:.4f}")

Skewness of Export Transaction Values: 0.0087
Kurtosis of Export Transaction Values: -1.1600

In [1403]:
# Analysis
# The near-zero skewness implies that export transaction values are fairly evenly distributed without strong asymmetry.
# The negative kurtosis indicates that export transactions tend to cluster around the mean, with fewer extreme outliers. The distribution is flatter, suggesting less variability in terms of large deviations from the average export value.

In [1404]:
# D7. What is the 95% confidence interval for the mean value of exports?
# Separate exports
exports = my_sample[my_sample['Import_Export'] == 'Export']['Value']
# Calculate mean and standard error
mean_export = exports.mean()
std_dev_export = exports.std()
n = exports.count()  # Sample size
# Calculate the 95% confidence interval
confidence_level = 0.95
degrees_freedom = n - 1
confidence_interval = stats.t.interval(confidence_level, degrees_freedom, mean_export, std_dev_export / np.sqrt(n))
print(f"95% Confidence Interval for the Mean Value of Exports: {confidence_interval}")

95% Confidence Interval for the Mean Value of Exports: (4870.523666283431, 5228.494851483066)

In [1405]:
# Analysis
# The interval is not too wide, suggesting that the estimate is reliable and that there is relatively low uncertainty regarding the true mean of export values.

In [1406]:
# D8. Is there a significant difference in the mean transaction value between two different payment terms (e.g., "Prepaid" and "Cash on Delivery") using a t-test?
# Split the data based on payment terms
prepaid_values = my_sample[my_sample['Payment_Terms'] == 'Prepaid']['Value']
cod_values = my_sample[my_sample['Payment_Terms'] == 'Cash on Delivery']['Value']
# Perform t-test
t_statistic, p_value = stats.ttest_ind(prepaid_values, cod_values)
# Print the results
print(f"T-statistic: {t_statistic}")
print(f"P-value: {p_value}")
# Determine significance
alpha = 0.05
if p_value < alpha:
    print("There is a significant difference in the mean transaction value between the two payment terms.")
else:
    print("There is no significant difference in the mean transaction value between the two payment terms.")

T-statistic: 0.9730271771782915
P-value: 0.33076980759713914
There is no significant difference in the mean transaction value between the two payment terms.

In [1407]:
# Analysis
# Since the p-value (0.3308) is greater than 0.05, we fail to reject the null hypothesis, meaning there is no significant difference in the mean transaction values between the "Prepaid" and "Cash on Delivery" payment terms.
# The results indicate that the choice of payment terms ("Prepaid" vs. "Cash on Delivery") does not lead to a statistically meaningful difference in the average transaction value. From a business or operational perspective, this suggests that transaction sizes are relatively consistent across these two payment methods.

In [1408]:
# D9. Using Levene’s test, is the variance of transaction values for imports and exports statistically equal?
# Split the data based on import/export status
import_values = df[df['Import_Export'] == 'Import']['Value']
export_values = df[df['Import_Export'] == 'Export']['Value']
# Perform Levene's test
statistic, p_value = stats.levene(import_values, export_values)
# Print the results
print(f"Levene's test statistic: {statistic}")
print(f"P-value: {p_value}")
# Determine significance
alpha = 0.05
if p_value < alpha:
    print("The variance of transaction values for imports and exports is statistically different.")

Levene's test statistic: 3.7278926632788654
P-value: 0.0535296910716595

In [1409]:
# Analysis
# The transaction values for both imports and exports show a similar level of variability, indicating that the spread or dispersion of the transaction values is comparable across both trade categories. This can suggest that fluctuations in transaction size are consistent whether for imports or exports.

In [1410]:
# D10.Using the Pearson correlation test, is there a significant correlation between the weight and value of exported products?
# Filter the data for exports
export_data = my_sample[my_sample['Import_Export'] == 'Export']
# Perform Pearson correlation test
correlation, p_value = stats.pearsonr(export_data['Weight'], export_data['Value'])
# Print the results
print(f"Pearson correlation coefficient: {correlation:.4f}")
print(f"P-value: {p_value:.4f}")
# Determine significance
alpha = 0.05
if p_value < alpha:
    print("There is a significant correlation between weight and value of exported products.")
else:
    print("There is no significant correlation between weight and value of exported products.")

Pearson correlation coefficient: 0.0371
P-value: 0.2443
There is no significant correlation between weight and value of exported products.

In [1411]:
# Analysis
# The weak correlation coefficient and non-significant p-value suggest that weight does not have a strong influence on the value of exported products. This could imply that factors other than weight, such as product type, quality, or market conditions, play a more significant role in determining the value of exports.

In [1412]:
# D11. Does the distribution of transaction values follow a normal distribution using the Shapiro-Wilk or Kolmogorov-Smirnov test?
# Extract the transaction values
transaction_values = my_sample['Value']
# Perform Shapiro-Wilk test
shapiro_stat, shapiro_p = stats.shapiro(transaction_values)
print(f"Shapiro-Wilk test statistic: {shapiro_stat:.4f}, P-value: {shapiro_p:.4f}")
# Perform Kolmogorov-Smirnov test against a normal distribution
# Note: To perform KS test, we need to specify the mean and std deviation
mean = transaction_values.mean()
std = transaction_values.std()
ks_stat, ks_p = stats.kstest(transaction_values, 'norm', args=(mean, std))
print(f"Kolmogorov-Smirnov test statistic: {ks_stat:.4f}, P-value: {ks_p:.4f}")
# Determine significance for both tests
alpha = 0.05
print("\nResults:")
if shapiro_p < alpha:
    print("Shapiro-Wilk test: The distribution is not normal.")
else:
    print("Shapiro-Wilk test: The distribution is normal.")

if ks_p < alpha:
    print("Kolmogorov-Smirnov test: The distribution is not normal.")
else:
    print("Kolmogorov-Smirnov test: The distribution is normal.")

Shapiro-Wilk test statistic: 0.9557, P-value: 0.0000
Kolmogorov-Smirnov test statistic: 0.0674, P-value: 0.0000

Results:
Shapiro-Wilk test: The distribution is not normal.
Kolmogorov-Smirnov test: The distribution is not normal.

In [1413]:
# Analysis
# Both tests suggest that the distribution of transaction values is not normal.
# Implications: The findings indicate that the transaction values may be skewed or exhibit other characteristics such as heavy tails or a non-standard shape. This could affect any statistical analyses that assume normality, such as t-tests or ANOVA. Understanding the actual distribution can be crucial for making informed decisions regarding the data and for choosing appropriate statistical methods for further analysis.

In [1414]:
# D12. Is there a significant association between the shipping method and payment terms using a Chi-squared test of independence?
# Create a contingency table
contingency_table = pd.crosstab(my_sample['Shipping_Method'], my_sample['Payment_Terms'])
# Perform Chi-squared test
chi2_stat, p_value, dof, expected = chi2_contingency(contingency_table)
# Print the results
print(f"Chi-squared Statistic: {chi2_stat:.4f}")
print(f"P-value: {p_value:.4f}")
print(f"Degrees of Freedom: {dof}")
print(f"Expected Frequencies:\n{expected}")
# Determine significance
alpha = 0.05
if p_value < alpha:
    print("There is a significant association between shipping method and payment terms.")
else:
    print("There is no significant association between shipping method and payment terms.")

Chi-squared Statistic: 16.1534
P-value: 0.0130
Degrees of Freedom: 6
Expected Frequencies:
[[165.48125937 151.55622189 164.50974513 166.45277361]
 [172.88705647 158.33883058 171.87206397 173.90204898]
 [172.63168416 158.10494753 171.6181909  173.64517741]]
There is a significant association between shipping method and payment terms.

In [1415]:
# Analysis
# The results indicate a significant association between shipping methods and payment terms. This means that the choice of payment terms is likely related to the selected shipping method.
# Understanding this association can help businesses tailor their logistics and payment strategies. For example, specific payment terms may be more commonly associated with certain shipping methods, which could influence decision-making in operations and customer service.